<div class="hero">
  <h1 class="mb-5">Why limit happy to an hour?</h1>
  <button onclick="window.location.href = '#menu-section';" style="--content: 'See your drinks!';">
    <div class="left"></div>
      See your drinks!
    <div class="right"></div>
  </button>
</div>

<div class="container text-center mt-5" id="menu-section">
  <h2 class="mb-3">Choose your favorite</h2>
  <div class="row">
    <% @cocktails.each do |c| %>
      <div class="col d-flex justify-content-center">
        <div class="card mt-3 mb-3 align-items-center" style="width: 15rem">
          <%= cl_image_tag c.photo, class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title">
              <%= c.name %>
              </h5>
          </div>
          <div class="card-info">
            <h5 class="font-weight-bold">Ingredients</h5>
            <p> 250ml de whisky</p>
            <p> 150ml de whisky</p>
            <p> 300ml de whisky</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
