<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag "beer.png" %>
      <h4 class="mb-0 ml-3">tipsy</h4>
    <% end %>

    <%= link_to new_cocktail_path, class: "navbar-brand d-flex align-items-center mr-0" do %>
      <h6 class="mb-0">Add</h6>
      <%= image_tag "bottle-opener (1).png" %>
      <h6 class="mb-0 ml-2 nav-hide">drink</h6>
    <% end %>

</div>
