.card img {
  height: 15rem;
  object-fit: cover;

  &.img-contain {
    object-fit: contain;
  }
}

.card {
  background-color: rgba(255, 203, 5, 0.78);
  box-shadow: 0px 0px 4px rgba(255, 203, 5, 0.78);
}

.card-info {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 100%;
  background: #d0a71bb3;
  transition: .5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card:hover .card-info {
  opacity: 0.9;
}

.card-body {
  a {
    color: red;
    font-size: 3vh;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.78);

    &:hover {
      text-decoration: none;
    }
  }

}

@media (max-width: 768px) {
  .show-card {
    width: 45%;
  }
}
