.hero {
  background-attachment: fixed;
  background-image: url('https://res.cloudinary.com/nico1711/image/upload/v1565344790/background-bar.jpg');
  background-size: cover;
  height: 100vh;
  padding: 22vh 64vh 0vh 20vh;
}
